# Chave de API do CoinMarketCap
# Obtenha uma chave gratuita em: https://pro.coinmarketcap.com/
CMC_API_KEY=sua_chave_de_api_aqui

# URI de Conexão com o Banco de Dados PostgreSQL
# Se rodar LOCALMENTE (sua máquina acessando o banco no Docker):
DB_CONNECTION_URI=postgresql://admin:admin_password@localhost:5432/crypto_db

# Se rodar DENTRO do container Docker (ex: serviço etl_app):
# DB_CONNECTION_URI=postgresql://admin:admin_password@postgres:5432/crypto_db
